LINEAR_API_KEY=
LINEAR_TEAM_ID=
LINEAR_WORKSPACE_ID=
GITHUB_TOKEN=
GODOT_PATH=D:\Godot\Godot_v4.6-stable_win64.exe
CACHE_ROOT=D:\Caches\WeatherWether
BUILD_ROOT=D:\Builds\WeatherWether
AGENT_ROOT=D:\Agents\WeatherWether
